<%= render "shared/navbar", user: current_user %>
<%= render "shared/event_header", event: @event %>
<div class="text-center container">
    <a href="#" class="btn-base btn-green">Obtenir le lien à partager</a>
    <h1>Participants</h1>
    <div class="d-flex row">
        <% @participants.each do |p|%>
            <div class="col-4 my-4">
                <img src="<%= cl_image_path p.user.avatar %>" class="rounded-circle mb-3"><br />
                <%= p.user.first_name %>
            </div>
        <%end%>
    </div>
    <% if current_user.participations.where(event_id: @event.id).first.confirmed %>
    <a href="#" class="btn-base btn-green btn-large">Annuler ma participation</a>
    <%else%>
    <%end%>
</div>


