// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green-bg-btn: linear-gradient(342.3deg, rgba(35, 169, 244, 0.79) -42.12%, rgba(255, 255, 255, 0) 152.3%), #3EEA5B;
$blue-bg-btn: linear-gradient(350.85deg, rgba(35, 169, 244, 0.79) -42.12%, rgba(255, 255, 255, 0) 152.3%), #4566DB;
$blue-bg: linear-gradient(350.85deg, rgba(35, 169, 244, 0.79) -42.12%, rgba(255, 255, 255, 0) 152.3%), #4566DB;
