<div class="container">
    <div style="max-width: 375px; margin: 0 auto; border: solid 1px #cccccc; padding: 20px;">
        <h1 class="text-center">Composants</h1>
        <hr>
        <!--BOUTONS-->
        <p class="text-center"><strong>Boutons</strong><p>

        <p class="text-center"><a href="#" class="btn-base btn-green">bouton basique green</a></p>
        <p><pre><xmp><a href="#" class="btn-base btn-green">bouton basique green</a></xmp></pre></p>

        <p class="text-center"><a href="#" class="btn-base btn-blue">bouton basique blue</a></p>
        <p><pre><xmp><a href="#" class="btn-base btn-blue">bouton basique blue</a></xmp></pre></p>

        <p><a href="#" class="btn-base btn-green btn-large">Texte bouton full width</a></p>
        <p><pre><xmp><a href="#" class="btn-base btn-green btn-large">Texte bouton full width</a></xmp></pre></p>

        <p class="text-center"><a href="#" class="btn-base btn-green btn-thin">Texte bouton thin</a></p>
        <p><pre><xmp><a href="#" class="btn-base btn-green btn-thin">Texte bouton</a></xmp></pre></p>
        
        <hr>


    </div>
</div>