<div class="main_container">

  <div class="banner_home">
    <div class="title">
      <h2>Bienvenue sur</h2>
      <h1>EventR</h1>
    </div>

    <div class="btn_banner">
      <%= link_to "Créer votre premier évènement", new_event_path, class: "btn-base btn-green btn-large" %>
      <br>
      <%= link_to "Accèder à mon compte", new_user_session_path, class: "btn-base btn-blue btn-large" %>
      <br>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>  
  
  <div class="div_logos">
    <h3>Nos fonctionnalités :</h3>

    <img class="logo" src="https://res.cloudinary.com/dwptvy074/image/upload/v1559722505/iconfinder_calendar_1291765_udilhs.png" alt="agenda">

    <h2>Créer un évènement</h2>

    <img class="logo" src="https://res.cloudinary.com/dwptvy074/image/upload/v1559722511/iconfinder_people-group-team-peoples-friend_3643747_t7ring.png" alt="friends">

    <h2>Inviter vos amis</h2>

    <img class="logo" src="https://res.cloudinary.com/dwptvy074/image/upload/v1559722518/iconfinder_money_box_172507_rvimqa.png" alt="money">

    <h2>Partager vos dépenses efficacement</h2>

    <h2>Profiter de votre évènement</h2>

    <div class="div_btn_footer">
      <%= button_to "Créer votre premier évènement", new_event_path, class: "btn-base btn-green btn-large" %>
    </div>
  </div>
</div>