<div class="supply-card">
  <strong><%= supply.quantity %> <%= supply.title %></strong>
  <p><%= supply.quantity %> restants</p>
  <form action="<%= event_contributions_path %>" method="post">
    <p>j'en prend</p>
    <input type="number">
    <input type="submit">
  </form>
</div>
