<%= render "shared/navbar", user: current_user %>
<div class="banner" style="background-image: url('<%= cl_image_path @event.picture, crop: :fill %>')">
	<div>
		<h2><%= @event.title %></h2>
	</div>
</div>

<%= render 'shared/to_do', contributions: @contributions %>