#event-header {
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 20px;
}

#event-header .container {
display: flex;
justify-content: space-between;
color: white;
    .map {
        opacity: .8;
        .fa-map-marked-alt {color: black;}
    }
    h1 {
        font-size: 26px;
    }
    a {color: white; opacity: .8}
}