.navbar-lewagon {
  justify-content: space-between;
  background: $green-bg-btn;
  display: flex;
  color: white;
  padding: 4px;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
