.navbar-events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0;
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .active {
    border-bottom: 2px solid white;
  }

  a:hover {
    opacity: 0.8;
  }
}

nav {background: $green-bg-btn;}
