.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  color: white;
  padding: 4px;
  align-items: center;
    a {
      color: white;
      text-decoration: none;
    }

    a.active {
      text-decoration: underline;
    }
}

.green-bg {background: $green-bg-btn;}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
