.separator {
  h4 {
    margin: 0;
  }
  background: linear-gradient(342.3deg, rgba(35, 169, 244, 0.79) -42.12%, rgba(255, 255, 255, 0) 152.3%), #3EEA5B;    
  padding: 5px;
  text-align: center;
  color: rgb(250, 250, 250);
}